<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sdu.dk/mmmi/sgl/SpreadsheetGrammarLanguage" 
       class = "dk.sdu.mmmi.sgl.spreadsheetGrammarLanguage.SpreadsheetGrammarLanguagePackage"
       genModel = "model/generated/SpreadsheetGrammarLanguage.genmodel" /> 
	
  </extension>



</plugin>
